body {
    background-image: url("../images/background.png");
}

#zeus {
    position: relative;
    left: 900px;
    top: 800px;
}

.creep {
    position: absolute;
}

#gold, #missed, #lvl, #xp, #mana {
    font-size: 46px;
    font-family: sans-serif;
    position: absolute;
    text-shadow: 3px 3px #000;
    top: 890px;
}

#gold {
    color: yellow;
    left: 1175px;
}

#missed {
    color: red;
    left: 1475px;
}

#lvl {
    color: white;
    left: 575px;
}

#xp {
    color: purple;
    left: 850px;
}

#mana {
    color: #2929ed;
    left: 125px;
}